{
  "comments": false,
  "compact": true,
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 4
        }
      }
    ]
  ]
}
